body{
    background-image: url('https://images.shiksha.com/mediadata/images/articles/1583929585phpSip48r.jpeg');
    background-size: cover;
    height: 100vh;


}
body{
    background-image: url('https://i.pinimg.com/originals/2d/20/3f/2d203f65245d20a2f5852eb91b20e920.jpg');
    background-size: cover;
    height: 100vh;


}
body{
        background-image: url('https://i.pinimg.com/originals/2d/20/3f/2d203f65245d20a2f5852eb91b20e920.jpg');
        background-size: cover;
        height: 100vh;
    
    
    }
    